/* textarea, select, input, button { 
    outline: none;
}
*/
#search-wrapper{
    text-align: center;
}

#search-section{
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;

    
}

#search-bar{
    width: 450px;
    height: 30px;
    border-radius: 25px;
    outline: none;
}

#search-bar:hover{

    box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-delay: 0s; 


}

#search-bar-input{
    position: absolute;
    top: 45%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    

}

li{

    float:left;

}

ul{

    list-style-type: none;
    margin: 0;
    padding: 0;

}

li a{

    display: block;
    padding: 8px;
    color: #5F6368;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    

}

a:hover{
    text-decoration: underline;

}

footer{
position: fixed;
left: 0px;
bottom: 0px;
height: 30px;
width: 100%;
background-color: #f2f2f2;

}

#search-btn{
    position: fixed;
    top: 45%;
    left: 47%;
}

.button-style{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 140px;
    height: 360px;
    text-align: center;
    display: inline-block;

}